.p-card {
  background: #003087;
  max-width: calc(100% / 3);
  margin: 10rem auto;
}

.compForm {
  margin-top: 1.4rem;
}

.block-logo {
  margin-left: 15rem;
  color: #ffff;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 6.25rem;

}

.compForm p {
  margin-left: 2rem;
}

.main-text {
  color: #ffff;
  text-align: center;
  padding-bottom: 1.2rem;
  font-weight: 500;

}

.compForm button {
  border: 2px solid #ffffff;
}
