<div class="p-card">
  <div class="block-logo compForm">
    <div class="logo">
        <img alt="pipeLife" ngSrc="../img/svg/logo.svg" height="31" width="161">
    </div>
    <div>
      <p>Logistika</p>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-4 compForm">
      <span class=" field p-float-label">
            <input type="text" id="name" formControlName="name" pInputText class="p-inputtext-sm">
            <label for="name">Uživatelské jméno: </label>
        </span>
      </div>
      <div class="p-col-12 p-md-4 compForm">
      <span class="field p-float-label">
            <input type="password" id="password" formControlName="password" pInputText>
            <label for="password">Heslo:</label>
        </span>
      </div>


      <div class="p-col-12 p-md-4 compForm">
        <div>
          <button pButton label="Přihlásit" type="submit" [disabled]="loginForm.invalid"></button>
        </div>
      </div>
    </div>

  </form>
</div>
