<div class="p-card-body">
  <div class="logo">
    <img alt="pipeLife" src="assets/logo.svg">
  </div>
  <div class="main">
    <div class="allBtns">
      <button pButton label="Nahlásit příjezd (z aplikace)"></button>
      <button pButton label="Registrovat vjezd (bez aplikace)"></button>
    </div>
    <div class="content">
      <div class="start-right-content">
        <img src="assets/Icon.svg" alt="iconPipeLife">
        <h1>Zvolte způsob registrace vjezdu do závodu</h1>
      </div>
    </div>
  </div>
</div>
