.logo {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3rem;
  margin-right: 6rem;
}

.allBtns {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7.5rem;
}

.allBtns button {
  width: 280px;
  height: 210px;
  border: 1px solid #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
}

.content {
  width: 30%;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-right-content h1 {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin-left: -12rem;
}

.start-right-content {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
}

.start-right-content img {
  max-width: 40px;
  max-height: 40px;
}

.firstDiv {
  border: 2px solid #ffffff;
  height: 30rem;
  color: #ffffff;
  width: 45rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding-top: 4rem;
}

.firstDiv img {
  min-height: 18.5rem;
  min-width: 18.5rem;
}

.firstDiv h1 {
  padding-left: 12rem;
}

#SPZ {
  background: #ffffff;
  color: #003087;
  border-radius: 8px;
}

.info {
  width: 29rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info {
  margin-top: 4rem;
}

.firstDiv p {
  margin-top: 4rem;
}

.secondDiv {
  border: 2px solid #ffffff;
  height: 30rem;
  color: #ffffff;
  width: 45rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding-top: 4rem;
}

.compForm {
  margin-top: 1.4rem;
}

.compForm button {
  border: 2px solid #ffffff;
}

.secondDiv h1 {
  margin-top: 6rem;
  margin-left: 0.3rem;
}

.document {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 45rem;
  height: 30rem;
  margin-top: 4rem;
  padding: 4rem;
}

.document h1 {
  margin-left: 0.1rem;
  color: #003087;
}

.signature {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 30rem;
  margin-top: 4rem;
  padding: 4rem;
  border: 1px solid #ffffff;
}

.signature textarea {
  min-height: 12rem;
  width: 30rem;
}

.signature h1 {
  margin-left: 1rem;
}

.signature button {
  margin-top: 0.2rem;
}

.last {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 47rem;
  margin-top: 4rem;
  padding: 4rem;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.last h1, p {
  margin-left: 1rem;
}


